*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

    /* <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 300 to 800
    // <width>: Use a value from 75 to 100*

    .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" <width>;
    }
    */

}

body{
    height: 100vh; /* Altura */
    width: 100vw; /* largura */
    display: flex;
    justify-content: center; /*eixo horizontal*/
    align-items: center; /*eixo vertical*/ 
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcxMjc4NjIxMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600")
}

.caixa-maior{
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 400px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 70px);

}


.botao-busca{
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #8a8a8a2b;
    cursor: pointer;
    float: right;
}

.botao-busca:hover {
    background-color: #ffffff;
}

.img-busca{
    width: 20px;
}

.caixa-media{
    margin-top: 10px;
}

.cidade{
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
}

.tempo{
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
}
.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.texto-previsao{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #ffffff;
}